/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Oct, 2018, 7:06:41 PM
    Author     : ajayk
*/
body
{
    margin:0px;
}

#heading
{
    text-align: center;
    font-size: 100px;
    font-family: Arial;
    background-color: black;
    padding: 10px;
    color:white;   
}

table
{
    background-color: whitesmoke;
    color: black;
    margin-top: 0px;
    border-top: 0px;
    padding-top:0px;
    padding-bottom: 10px;
    
}
td
{
    padding-top: 20px;
    padding-left: 125px;
    padding-right: 125px;
    font-size: 20px;
        
}
#img
{
   width: 1540px;
   
   background-image: url("Google_blog-1180x480.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 425px;
   position: relative;
   margin-bottom: 9px;
   object-fit: cover;
   
   
       
}
#content
{
    background-color: bisque;
    opacity: 0.6;
    font-size: 20px;
    text-align: center;
    
    
    
    
}